:root {
    --border: #bfbfbf;
}

body {
    background: url('../lib/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#game_outline {
    padding-top: 20px;
    clear: both;
    min-width: 1366px;
}

#game_content,
#user_game_icon {
    float: left;
}

#user_game_icon {
    margin-left: 30px;
    background: #ffffff;
    border-radius: 10px;
    opacity: 0.7;
    color: #03314e;
    font-weight: bold;
    min-width: 120px;
    max-width: 150px;
    overflow: hidden;
}

    #user_game_icon .user_boss, #user_game_icon .user_guess {
        padding: 5px 10px 5px 10px;
        clear: both;
        overflow: hidden;
    }

#game_content {
    width: fit-content;
    border: 2px solid #66a6b7;
    margin-left: 10px;
    background: #fff;
    opacity: 0.3;
    box-shadow: 7px 9px 9px 4px #073b4f;
    position: relative;
}


    #game_content #game_footer {
        height: 30px;
        line-height: 30px;
        background-color: #66a6b7;
    }



        #game_content #game_footer #runtime_wating {
            float: right;
            width: 70px;
        }

        #game_content #game_footer button {
            background: none;
            border: none;
            outline: none;
            color: #0b4b64;
            height: 10px;
            width: 10px;
            line-height: 10px;
        }

            #game_content #game_footer button#undo {
                margin-left: 10px;
            }

            #game_content #game_footer button:active {
                outline: none;
            }

            #game_content #game_footer button i {
                vertical-align: middle;
            }

            #game_content #game_footer button:active i {
                font-size: 12px;
            }

        #game_content #game_footer #runtime_wating #div_runtime {
            color: #101a24;
            display: inline;
            font-weight: bold;
        }

        #game_content #game_footer #runtime_wating img {
            vertical-align: middle;
        }

    #game_content table {
        /* border: 1px solid #000;*/
        border-spacing: 0;
        border-collapse: separate;
        margin-right: auto;
        margin-left: auto;
    }

        #game_content table tr td {
            width: 25px;
            height: 25px;
            /* background: linear-gradient(to right,#fff 0,#f6f6f6 47%,#ededed 100%);*/
            box-sizing: unset;
            cursor: url('https://i.imgur.com/5v5M8gh.png'), auto;
        }

            #game_content table tr td:not(:last-child) {
                border-right: 2px solid var(--border);
            }

        #game_content table tr td {
            border-bottom: 2px solid var(--border);
        }

#user_content {
    background: #22a4db;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.8;
    box-shadow: 5px 7px 9px 2px #064265;
    overflow-x: hidden;
    overflow-y: auto;
    float: right;
    margin-right: 20px;
}

    #user_content .chat_header {
        height: 30px;
        line-height: 30px;
        background: #033152;
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

    #user_content .chat_content {
        padding: 5px;
        height: 370px;
        overflow: auto;
    }

        #user_content .chat_content::-webkit-scrollbar {
            width: 0;
        }

    #user_content #on_key_press {
        font-size: 10px;
        color: #fff;
        margin-left: 3px;
        bottom: 0;
        visibility: hidden;
    }

    #user_content .chat_content .message {
        width: 100%;
        color: #ffffff;
        padding-top: 10px;
        clear: both;
    }

    #user_content .chat_content .notifi {
        text-align: center;
        margin: 7px 0 7px 0;
        padding: 0;
    }

        #user_content .chat_content .notifi span {
            padding: 0 !important;
            color: #fff;
            background: none !important;
            font-style: italic;
            font-size: 11px;
        }

    #user_content .chat_content .message span {
        border-radius: 10px;
        max-width: 80%;
        word-break: break-all;
    }

    #user_content .chat_content .message_1 span {
        background: #0c5b88;
    }

    #user_content .chat_content .message_2 span {
        background: #073c50;
    }

    #user_content .chat_content .message_1 .fa {
        color: red;
    }

    #user_content .chat_content .message_2 .fa {
        color: #e5ff0e;
    }

    #user_content .chat_content .message_1 span {
        padding: 3px 10px 3px 5px;
        margin-left: 3px;
    }

    #user_content .chat_content .message_1 span, #user_content .chat_content .message_1 .fa {
        float: left;
        line-height: unset;
    }

    #user_content .chat_content .message_2 span {
        padding: 3px 5px 3px 10px;
        margin-right: 3px;
    }

    #user_content .chat_content .message_2 span, #user_content .chat_content .message_2 .fa {
        float: right;
        line-height: unset;
    }

    #user_content .chat_box {
        position: relative;
    }

        #user_content .chat_box #chat_input {
            width: 100%;
            height: 50px;
            border: none;
            background: #002744;
            padding: 0 30px 0 5px;
            color: #fff;
        }

            #user_content .chat_box #chat_input:focus {
                outline: none;
            }

        #user_content .chat_box button#btn_send_message {
            background: none;
            border: none;
            position: absolute;
            right: 0;
            margin-top: 12px;
            margin-right: 5px;
            height: 25px;
            width: 20px;
            padding:0;
        }

            #user_content .chat_box button#btn_send_message:focus {
                outline: none;
                border: none;
            }

            #user_content .chat_box button#btn_send_message .fa {
                color: #fff;
            }

        #user_content .chat_box #emoji_box {
            position: absolute;
            bottom: 50px;
            background: #fff;
            right: 0;
            transition: all 0.8s linear;
            display: none;
        }

.emoji_box_active {
    display: block !important;
}

#user_content .chat_box #emoji_box .emoji_icon {
    display: inline-block;
    width: 30px;
    height: 20px;
}

    #user_content .chat_box #emoji_box .emoji_icon > input {
        font-size: 15px;
        line-height: 52px;
        height: 20px;
        overflow: visible;
        width: 100%;
        cursor: pointer;
        position: relative;
        border: none;
        border-radius: 6px;
        text-align: center;
        z-index: 10;
        font-weight: 400;
    }

        #user_content .chat_box #emoji_box .emoji_icon > input:focus {
            outline: none;
        }

#user_content .chat_box #btn_emoji {
    position: absolute;
    bottom: 12px;
    right: 27px;
    background: none;
     border: none; 
    width: 24px;
    border-radius: 50%;
    height: 24px;
    padding: 0;
}
    #user_content .chat_box #btn_emoji:focus{
      outline:none;
    }

    .clear-both {
        clear: both;
    }

.cell_active {
    background-size: 20px 20px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.cell_active_x {
    background-image: url('../lib/img/blue.png') !important;
}

.cell_active_y {
    background-image: url('../lib/img/red.png') !important;
}

.cell_active_win {
    background-color: #e9ff2e;
}

.active_turn {
    background: #2ff921;
    background: linear-gradient(#50f345, #2ff921);
    transition: all 0.5s linear;
}

/*Modal*/
#box_modal {
    height: 215px;
    padding: 0;
    width: 430px;
    border-radius: unset;
}

    #box_modal a.close-modal {
        display: none;
    }

    #box_modal .box_modal_header {
        height: 30px;
        background: linear-gradient(to bottom, rgba(117,189,209,1) 0%, rgba(34,164,219,1) 0%, rgba(0,39,68,1) 100%);
        line-height: 30px;
        color: #FFF;
        padding-left: 10px;
        font-weight: bold;
    }

    #box_modal .box_modal_content {
        padding: 10px;
    }

        #box_modal .box_modal_content .form-group:first-child {
            margin-bottom: 0;
        }

        #box_modal .box_modal_content label {
            font-size: 12px;
            font-weight: bold;
        }

            #box_modal .box_modal_content label i {
                color: #9a9797;
                font-size: 10px;
            }

        #box_modal .box_modal_content input {
            width: 100%;
            font-size: 12px;
        }

        #box_modal .box_modal_content button {
            background: #22a4da;
            margin: 0;
            border: 0;
            height: 25px;
            font-size: 12px;
            color: #fff;
            font-weight: bold;
            float: right;
            border-radius: 5px;
        }

            #box_modal .box_modal_content button:focus {
                border: 0;
                outline: none;
            }

        #box_modal .box_modal_content #login_msg {
            margin: 0;
            font-size: 12px;
            color: red;
            margin-left: 3px;
            position: fixed;
        }

/*end modal*/
center > a {
    visibility: hidden;
}
